* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: rgb(243, 239, 232);
}

.container {
  overflow: hidden;
}

/*---Header---*/
.head {
  color: #f6e4c0;
  background-color: #283618;
  padding: 10px 20px;
}

.head-div {
  display: flex;
  justify-content: space-between;
}

.iconClass {
  margin: 1rem;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
}

.search-div {
  margin: auto 0;
}

.search {
  border-radius: 0.3rem;
  outline: none;
  border-color: #f6e4c0;
  color: #283618;
  border-width: thin;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: silver;
  outline: none;
}

.search-button:hover {
  color: #f6e4c0;
}

@media only screen and (max-width: 432px) {
  .head-div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
}

/* --------- */

/*Body*/
.head-content {
  font-size: 25px;
  font-weight: 3rem;
  text-align: center;
  padding: 10px 0px;
  font-weight: bolder;
}

.main-div {
  justify-content: center;
  gap: 30px;
  padding: 10px 20px;
}

.add-content {
  border: 0.5px solid #445128;
  background-color: #d8d8c1;
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 520px) {
  .add-content {
    display: flex;
    flex-wrap: wrap;
  }

  .add-head {
    padding-right: 10px;
  }
}

.add-head {
  padding-bottom: 10px;
  font-size: 23px;
  font-style: italic;
}

.addTitle {
  outline: none;
}

.textArea {
  margin-top: 0.5rem;
  outline: none;
}

.add-button {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px;
  padding: 5px 14px;
  background-color: #283618;
  color: #c9c9ae;
  outline: none;
}

.add-button:hover,
.delete-button:hover {
  color: #283618;
  background-color: #c9c9ae;
}

.save-div {
  padding: 20px;
  border: 0.5px solid #445128;
  background-color: #d8d8c1;
}

.save-head {
  padding-bottom: 0.5rem;
  font-size: 23px;
  font-style: italic;
}

.saved-notes {
  display: flex;
  flex-wrap: wrap;
  margin-right: 22px;
  margin-left: -12px;
}

.saved-note-section {
  border: 1.5px solid #606c38;
  padding: 10px;
  margin: 10px 8px;
  background-color: #dad2b1e8;
}

.inside-save-section {
  flex-wrap: wrap;
  padding-bottom: 22px;
}

.head-note-section {
  padding-bottom: 3px;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  color: #283618;
}

.para-note-section {
  background-color: #fefae0;
  padding: 5px;
}

.date-section {
  padding-top: 10px;
  font-size: 0.8rem;
  color: #606c38;
}

.delete-button {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 14px;
  flex: 1;
  background-color: #283618;
  color: #c9c9ae;
}

@media only screen and (min-width: 750px) {
  .main-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Footer*/
.footer {
  background-color: #283618;
  padding: 6px;
  margin-top: 100px;
  color: #93987c;
  text-align: center;
}
.footer:hover {
  cursor: pointer;
  color: #fefae0;
}
